.header-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1130px;
}
.header-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  align-items: center;
}
.header-list li {
  font-weight: 400;
  font-size: 24px;
}
